<div class="container">
    <span></span>
    <h2 class="headfont">USER REGISTRATION FORM</h2>
    <hr>
    <mat-grid-list cols="3" rowHeight="3:1">

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter your Firstname">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>Aplhabets/Numeric</mat-hint>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter your Lastname">
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint>Alphabets/Numeric</mat-hint>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="email">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="abc@mail.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Password*</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint>8-10 Characters Long</mat-hint>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="phone">
                <!-- <input type="tel" matInput placeholder="Eg:9789631819"> -->
                <input type="tel" matInput placeholder="Eg:9386823455" pattern="/(7|8|9)\d{9}/" required>
                <div *ngIf=""></div>
                <mat-label>Contact Number</mat-label>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field class="datepicker">
                <mat-label>Pick a date</mat-label>
                <input matInput 
                        #resultPickerModel="ngModel" 
                        [matDatepicker]="resultPicker" 
                        [(ngModel)]="date"
                        [min]="minDate" 
                        [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="resultPicker"></mat-datepicker-toggle>
                <mat-datepicker #resultPicker>
                </mat-datepicker>
                <mat-error *ngIf="resultPickerModel.hasError('matDatepickerParse')">
                    "{{resultPickerModel.getError('matDatepickerParse').text}}"
                    is not a valid date!
                </mat-error>
                <mat-error *ngIf="resultPickerModel.hasError('matDatepickerMin')">
                    Minimum date should be {{minDate | date }}</mat-error>
                <mat-error *ngIf="resultPickerModel.hasError('matDatepickerMax')">
                    Maximum date should be {{maxDate | date }}
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>7</mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill" class="age">
                <mat-label>Age</mat-label>
                <input type="number" matInput>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>9</mat-grid-tile>
        <mat-grid-tile>10</mat-grid-tile>
        <mat-grid-tile>
            <button mat-raised-button>Reset</button>
            <span></span>
            <button mat-raised-button>Submit</button>
        </mat-grid-tile>
        <mat-grid-tile>12</mat-grid-tile>
    </mat-grid-list>

    <div class="example-container">




        <div class="example-container-email">

        </div>

        <div class="example-container-password">


            <div class="example-container-password">

            </div>
        </div>
    </div>
</div>